@import "_variables";
@import "_elements";

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    background-color: white;
    box-shadow: 1px -10px 20px 5px $colorgray;

    ul {
        display: flex;
        list-style: none;
        margin-left: 50px;
    
        li {
            margin-right: 30px;
        }
    }

    span {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 700;
    }

    svg {
        margin-right: 50px;
    }
}


.article__grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    .article__img {
        @extend %bg_img_position;
        @extend %bg_img_size;
    }

    .article__text {
        @extend %flex_center_center;
        flex-direction: column;
        text-align: center;

        span:first-child {
            padding: 40px;
            font-size: 2em;
            font-family: 'Times New Roman', Times, serif;
        }

        span:last-child {
            font-size: 0.8em;
        }
    }
}

.article__grid:nth-child(2) {
    .article__img{
        background-image: url(https://cdn.pixabay.com/photo/2017/09/09/18/25/living-room-2732939_960_720.jpg);
    }
}

.article__grid:nth-child(3) {
    .article__img{
        background-image: url(https://cdn.pixabay.com/photo/2017/07/09/03/19/kitchen-2486092_960_720.jpg);
    }
}

.article__content {
    width: 100%;
    height: 40vh;
    background-color: $colorYellow;
    @extend %flex_center_center;
    flex-direction: column;
    text-align: center;

    span {
        margin-top: 20px;
    }

    .content__title {
        font-size: 2.5em;
        font-weight: 700;
        font-family: 'Times New Roman', Times, serif;
    }

    .content__text {
        width: 50%;
        font-size: 1.5em;
        font-family: 'Times New Roman', Times, serif;
    }

    span:last-child {
        font-size: 0.8em;
    }
}

.article__grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 3px;
    padding: 3px 0;

    div {
        background-color: yellow;
    }
}

.article__grid2 {
    div {
        @extend %bg_img_position;
    }

    div:first-child {
        background-image: url(https://cdn.pixabay.com/photo/2016/04/18/13/53/room-1336497__340.jpg);
        grid-area: span 1 / span 2;
    }

    div:nth-child(2){
        background-image: url(https://cdn.pixabay.com/photo/2016/11/21/12/59/chair-1845270__340.jpg);
    }

    div:nth-child(3){
        background-image: url(https://cdn.pixabay.com/photo/2015/02/09/14/56/table-629772__340.jpg);
    }

    div:nth-child(4){
        background-image: url(https://cdn.pixabay.com/photo/2017/03/25/23/32/kitchen-2174593__340.jpg);
    }

    div:nth-child(5){
        background-image: url(https://cdn.pixabay.com/photo/2018/01/26/08/15/dining-room-3108037__340.jpg);
        grid-area: span 1 / span 2;
    }

    div:nth-child(6){
        background-image: url(https://cdn.pixabay.com/photo/2016/11/18/13/02/bed-1834327__340.jpg);
    }

    div:nth-child(7){
        background-image: url(https://cdn.pixabay.com/photo/2015/12/05/23/16/office-1078869__340.jpg);
        grid-area: span 1 / span 2;

    }

    div:nth-child(8){
        background-image: url(https://cdn.pixabay.com/photo/2018/05/02/09/02/baby-boy-3368016__340.jpg);
    }

    div:nth-child(9){
        background-image: url(https://cdn.pixabay.com/photo/2018/01/20/09/42/sofa-3094153__340.jpg);
    }

    div:nth-child(10){
        background-image: url(https://cdn.pixabay.com/photo/2016/12/30/07/55/bedroom-1940168__340.jpg);
        grid-area: span 1 / span 2;
    }

    div:nth-child(11){
        background-image: url(https://cdn.pixabay.com/photo/2016/09/02/22/36/kitchen-1640439__340.jpg);
    }

    div:nth-child(12){
        background-image: url(https://cdn.pixabay.com/photo/2015/09/13/06/44/vintage-937766__340.jpg);
    }
}


footer {
    width: 100%;
    height: 45vh;
    background-color: $colorgray;
    display: grid;
    grid-template-rows: 2fr 1fr;
    padding: 100px 100px 20px;
    color: white;
    fill: white;
    font-weight: 500;

    .footer__nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        div {
            display: flex;
            flex-direction: column;

            .nav__title {
                color: $colorLightgray;
                margin-top: 20px;
            }

            span {
                margin-bottom: 5px;
            }
        }
    }

    .footer__logo {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 0.8em;
        
        span:last-child {
            margin-left: 20%;
            padding: 10px;
            border: 2px solid white;
            border-radius: 50%;
        }
    }
}