@import "_variables";
@import "_elements";

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    z-index: 2;
    width: 100%;

    ul {
        display: flex;
        list-style: none;
        margin-left: 50px;
    
        li {
            margin-right: 30px;
        }
    }

    span {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.5em;
        font-weight: 700;
    }

    svg {
        margin-right: 50px;
    }
}

.main__fixed {
    background-color: $colorYellow;
    position: fixed;
    width: 50%;
    height: 100%;
    margin-left: 50%;

    .fixed__title {
        font-weight: 700;
        font-size: 1.5em;
        margin-top: 10vh;
        margin-left: 15%;
    }

    .fixed__text {
        width: 70%;
        margin-left: 15%;
        margin-top: 10vh;
        font-size: 1.3em;
        font-family: 'Times New Roman', Times, serif;
    }

    .fixed__btns {
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 100px;
        font-weight: 600;

        span {
            width: 100%;
            height: 100%;
            @extend %flex_center_center;
            transition: all 0.2s;

            
            &:hover {
                background-color: $colorWhiteTrans;
                transition: all 0.2s;
                transition-timing-function: ease-out;
            }
        }
    }
}

article {
    width: 50%;
    height: 100vh;
    @extend %flex_center_center;
}

article:nth-child(2){
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    @extend %bg_img_position;
    @extend %flex_center_center;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/19/01/18/living-room-2155353_960_720.jpg);
}

article:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    margin-top: 50px;

    .article__img {
        @extend %img_size;
    @extend %bg_img_position;
        background-image: url(https://cdn.pixabay.com/photo/2019/09/30/10/12/notredame-de-paris-4515298_960_720.jpg);
    }

    .article__text {
        font-size: 1.3em;
        font-weight: 400;
        margin-top: 30px;
    }

    .article__subtext {
        display: flex;
        flex-direction: column;
        
        span {
            margin-top: 20px;
        }
    }
}

article:last-child {
    height: 30vh;

    .article__img {
        @extend %img_size;
        @extend %bg_img_position;
        background-image: url(https://cdn.pixabay.com/photo/2019/09/30/10/12/notredame-de-paris-4515298_960_720.jpg);
    }
}

footer {
    width: 100%;
    z-index: 3;
    background-color: gray;
}