%tiny_red_font {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.6em;
    color: red;
}

%main_grid {
    display: grid;
    grid-template-columns: 1.5fr 3fr 6fr 1fr;
}