@import "_elements";

html,
body,
ul,
li,
h1,
a {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    padding: 30px;
    background-color: rgb(218, 218, 218);
    color: rgb(75, 75, 75);
}

.work__lists {
    margin-top: 100px;

    .main__title{
        @extend %main_grid;
        @extend %tiny_red_font;
        padding: 10px 0;
    }

    ul {
        list-style: none;

        li {
            @extend %main_grid;
            align-items: center;
            padding: 10px 0;
            border-top: 1px solid black;

            span:last-child {
                justify-self: end;
                fill: red;
            }

            &:hover {
                font-style: italic;
            }
        }
    }
}

.main__comment {
    margin-top: 100px;

    span {
        @extend %tiny_red_font;
    }

    a {
        color: red;

        &:hover {
            font-style: italic;
        }
    }

    &:last-child {
        margin-bottom: 100px;
    }
}