%column_center_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


%bg_position_size {
    background-position: center center;
    background-size: cover;
}

%hover {
    background-color: black;
    color: white;
    transition: all 0.3s;
    transition-timing-function: ease-out;
}

%hover_out {
    transition: all 0.3s;
}