%column_center_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


%bg_position_size {
    background-position: center center;
    background-size: cover;
}