// @import "_elements";

html,
body,
h1,
a {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.right__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;

    div {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;

        .nav__title {
            position: fixed;
            top: 40px;
        }

        .nav__engtitle {
            transform: rotate(90deg);
        }
    }

    div:first-child {
        background-color: rgb(129, 173, 255);
    }

    div:nth-child(2) {
        background-color: rgb(218, 115, 97);
    }

    div:last-child {
        background-color: rgb(250, 199, 106);
    }
}

.main__articles {
    width: calc(100% - 60px*3);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        width: calc(100% - 50px*2);
        font-family: 'Times New Roman', Times, serif;
        font-size: 4em;
        padding: 200px 0;
    }

    .article__photo {
        width: 100%;
        height: 500px;
        background-image: url(https://cdn.pixabay.com/photo/2019/11/12/23/00/studio-4622221_960_720.jpg);
    }

    h2 {
        width: calc(100% - 50px*2);
        font-family: 'Times New Roman', Times, serif;
        font-size: 6em;
        padding: 100px 0;
    }

    .article__grid {
        display: grid;
        width: calc(100% - 50px*2);
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 500px;
        grid-gap: 30px;

        div {
            display: flex;
            flex-direction: column;

            .grid__img {
                width: 100%;
                height: 250px;
                background-position: center center;
                background-size: cover;
            }

            span:last-child {
                font-family: 'Courier New', Courier, monospace;
                margin-top: 30px;
            }
        }

        div:nth-child(1) {
            .grid__img {
                background-image: url(https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925__340.jpg);
            }
        }

        div:nth-child(2) {
            .grid__img {
                background-image: url(https://cdn.pixabay.com/photo/2016/12/05/11/47/flea-market-1883689__340.jpg);
            }
        }

        div:nth-child(3) {
            .grid__img {
                background-image: url(https://cdn.pixabay.com/photo/2016/03/28/09/39/shelf-1285186__340.jpg);
            }
        }
    }

    .article__grid2 {
        display: grid;
        width: calc(100% - 50px*2);
        height: 200px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        grid-gap: 20px;
        margin-top: 100px;

        span {
            font-size: 3em;
            
        }

        span:nth-child(2) {
            font-size: 5em;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .article__grid3 {
        margin-top: 50px;
        padding: 70px 0;
        // border-top: 1px dotted black;
        // border-bottom: 1px dotted black;
        width: calc(100% - 50px*2);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        .grids {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 100px;
            grid-gap: 30px;
    
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .grid__btn {
            margin-top: 50px;
            width: 200px;
            padding: 20px;
            border: 1px solid black;
            font-family: 'Courier New', Courier, monospace;
        }

        .grid__text {
            font-size: 3em;
            padding: 10px;
        }
    }

    .article__grid4 {
        width: calc(100% - 50px*2);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        height: 400px;

        div {
            font-size: 5em;
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
        }

        div:last-child {
            background-image: url(https://cdn.pixabay.com/photo/2017/08/17/07/47/travel-2650303__340.jpg);
            background-position: center center;
            background-size: cover;
        }
    }


}