@import "_variables";
@import "_elements";

html,
body,
h1,
a,
p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

// 우측의 nav
.right__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;

    div {
        width: 60px;
        @extend %column_center_center;
        font-weight: 600;

        .nav__title {
            position: fixed;
            top: 40px;
        }

        .nav__engtitle {
            transform: rotate(90deg);
        }
    }

    div:first-child {
        background-color: rgb(129, 173, 255);
    }

    div:nth-child(2) {
        background-color: rgb(218, 115, 97);
    }

    div:last-child {
        background-color: rgb(250, 199, 106);
    }
}


// 좌측의 main article 
.main__articles {
    width: $width;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        width: $width;
        font-family: $font_times;
        font-size: 4em;
        padding: 200px 0;
    }

    .article__photo {
        width: 100%;
        height: 500px;
        background-image: url(https://cdn.pixabay.com/photo/2019/11/12/23/00/studio-4622221_960_720.jpg);
    }

    h2 {
        width: $width;
        font-family: $font_times;
        font-size: 6em;
        padding: 100px 0;
    }

    .article__grid {
        display: grid;
        width: $width;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 500px;
        grid-gap: 30px;

        div {
            display: flex;
            flex-direction: column;

            .grid__img {
                width: 100%;
                height: 250px;
                @extend %bg_position_size;
            }

            span:last-child {
                font-family: $font_courier;
                margin-top: 30px;
            }
        }

        div:nth-child(1) .grid__img {
            background-image: url(https://cdn.pixabay.com/photo/2016/11/29/10/09/bakery-1868925__340.jpg);
        }

        div:nth-child(2) .grid__img {
            background-image: url(https://cdn.pixabay.com/photo/2016/12/05/11/47/flea-market-1883689__340.jpg);
        }

        div:nth-child(3) .grid__img {
            background-image: url(https://cdn.pixabay.com/photo/2016/03/28/09/39/shelf-1285186__340.jpg);
        }
    }

    .article__grid2 {
        width: $width;
        height: 200px;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-top: 100px;

        span {
            font-size: 3em;
        }

        span:nth-child(2) {
            font-size: 5em;
            text-align: center;
            font-family: $font_times;
        }
    }

    .article__grid3 {
        margin-top: 50px;
        padding-top: 70px;
        width: $width;
        @extend %column_center_center;
        font-family: $font_courier;
        border-top: $border_dashed;
        border-bottom: $border_dashed;

        .grids {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 150px;
            grid-gap: 50px;
    
            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                span {
                    margin-bottom: 20px;
                }
            }
        }

        .grid__btn {
            width: 200px;
            margin-top: 50px;
            padding: 20px;
            position: relative;
            bottom: -25px;
            background-color: white;
            border: 1px solid black;
        }

        .grid__text {
            font-size: 3em;
            padding: 10px;
        }
    }

    .article__grid4 {
        width: $width;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-top: 100px;

        div {
            font-size: 5em;
            text-align: center;
            font-family: $font_times;
        }

        div:last-child {
            background-image: url(https://cdn.pixabay.com/photo/2017/08/17/07/47/travel-2650303__340.jpg);
            background-position: center center;
            background-size: cover;
        }
    }

    .article__grid5 {
        margin-top: 100px;
        padding: 50px 0;
        width: $width;
        @extend %column_center_center;
        font-family: $font_times;
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;

        .grid__text {
            font-size: 2.5em;
        }

        .grid__btn {
            margin-top: 50px;
            width: 200px;
            padding: 20px;
            border: 1px solid black;
            background-color: white;
        }
    }

    .article__grid6 {
        margin-top: 50px;
        padding: 70px 0 0;
        width: $width;
        @extend %column_center_center;
        text-align: center;


        .grids {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 200px;
            grid-gap: 30px;
    
            div {
                @extend %column_center_center;
                border: 1px dashed black;
                padding: 20px;
            }

            div:last-child {
                grid-area: span 1 / span 3;
                height: 150px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 30px 60px;

                span {
                    font-size: 1.5em;
                    width: 50%;
                    text-align: left;
                    font-family: $font_courier;
                }

                p{
                    border: 1px solid black;
                    width: 45%;
                    padding: 15px ;
                    display: grid;
                    grid-template-columns: 5fr 1fr;
                    font-size: 0.8em;
                }
            }
        }
    }

    footer {
        width: $width;
        display: flex;
        margin-bottom: 100px;

        div {
            margin-right: 50px;
            font-weight: 600;
            padding-bottom: 20px;
        }

        div:not(:first-child) {
            border-bottom: 1px solid black;
        }
    }

}