// @import "_elements";

html,
body,
h1,
a {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.right__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;

    div {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600;

        .nav__title {
            position: fixed;
            top: 40px;
        }

        .nav__engtitle {
            transform: rotate(90deg);
        }
    }

    div:first-child {
        background-color: rgb(129, 173, 255);
    }

    div:nth-child(2) {
        background-color: rgb(218, 115, 97);
    }

    div:last-child {
        background-color: rgb(250, 199, 106);
    }
}

.main__articles {
    width: calc(100% - 60px*3);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        width: calc(100% - 50px*2);
        font-family: 'Times New Roman', Times, serif;
        font-size: 4em;
        padding: 200px 0;
    }

    .article__photo {
        width: 100%;
        height: 500px;
        background-image: url(https://cdn.pixabay.com/photo/2019/11/12/23/00/studio-4622221_960_720.jpg);
    }

    h2 {
        width: calc(100% - 50px*2);
        font-family: 'Times New Roman', Times, serif;
        font-size: 6em;
        padding: 100px 0;
    }

    .article__grid {
        display: grid;
        width: calc(100% - 50px*2);
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 500px;
        grid-gap: 30px;

        div {
            display: flex;
            flex-direction: column;

            .grid__img {
                width: 100%;
                height: 300px;
                background-color: lightsalmon;
            }

            span:last-child {
                font-family: 'Courier New', Courier, monospace;
                margin-top: 30px;
            }
        }


    }
}