%hover {
    background-color: black;
    color: white;
    transition: all 0.2s;
    transition-timing-function: ease-out;
}

%flexcolumnbetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

%background {
    background-size: cover;
    background-position: center center;
}