%flex_column_aligncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

%flex_row_aligncenter {
    display: flex;
    align-items: center;
}

%mini_font {
    font-size: 0.8em;
    font-weight: 600;
}

%border_btn {
    border: 2px solid black;
    padding: 10px 50px;
    transition: all 0.2s;


    &:hover {
        background-color: black;
        color: white;
        transition: all 0.2s;
        transition-timing-function: ease-out;
    }
}