@import "_variables";
@import "_flexcolumn";

html,
body,
ul,
h1,
h2 {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 $margin;
    display: flex;
    justify-content: space-between;
    background-color: white;
    @extend %mini_font;


    ul {
        @extend %flex_row_aligncenter;
        list-style: none;

        li {
            @extend %flex_row_aligncenter;
            margin: 10px;

            svg {
                margin-right: 5px;
            }
        }
    }
}


main {
    width: 100%;
    @extend %flex_column_aligncenter;
}

.article__category,
.article__btn {
    @extend %mini_font;
}

.article__main {
    width: $width;
    height: 45vh;
    background-image: url(https://cdn.pixabay.com/photo/2019/01/15/15/43/writing-3934298_960_720.jpg);
    margin-top: 10vh;
    @extend %flex_column_aligncenter;
    justify-content: center;

    h1 {
        font-family: 'Times New Roman', Times, serif;
        width: 50%;
        padding: 30px 0;
    }

    .article__btn {
        @extend %mini_font;
        border: 2px solid black;
        padding: 10px 50px;
        transition: all 0.2s;


        &:hover {
            background-color: black;
            color: white;
            transition: all 0.2s;
            transition-timing-function: ease-out;
        }
    }
}

.article__grid {
    width: $width;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5vh;

    .article__photo {
        background-image: url(https://cdn.pixabay.com/photo/2016/05/01/11/04/flower-1364746__340.jpg);
        background-position: center center;
        background-size: cover;
    }

    .article__text {
        background-color: $colorPink;
        @extend %flex_column_aligncenter;
        justify-content: center;

        h1 {
            width: 80%;
            font-family: 'Times New Roman', Times, serif;
            padding: 10px 0 20px;
        }

        .article__btn {
            display: grid;
            grid-template-columns: 5fr 1fr;
            transition: all 0.2s;
            border: 2px solid black;

            span{
                padding: 10px;
            }

            span:nth-child(2) {
                border-left: 2px solid black;
            }
        }

    }
}